@using EJ.Models.Enums
@using EJ.Models.UI
@using SHARED.Web.Extensions
@{
    ViewData["Title"] = "Пропуски";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Пропуски</h1>


<div>
    <label>Выберите дату</label>
    <input type="date" id="date" class="date" value="@(Model.Date.ToString("yyyy-MM-dd"))" onchange="sheduleDateChanged(this)" />
</div>

<table border="1" cellpadding="10" cellspacing="10" id="absence">
    <partial name="~/Views/Shedule/_CalendarSheduleTimeSpendings.cshtml" model="@((IEnumerable<LessonUi>)Model.Lessons)" />
</table>

@section Scripts
    {
    <script>
    function sheduleDateChanged(date) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAbsence", "Absence")",
            data: {
                sheduleDate: date.value
            },
            success: function (data) {
                var container = $("#absence");
                container.empty();
                container.append(data);
            }
        });
    }
    </script>
}
